#body {
    background-color: darkred;
}

#headingOne {
    color:rgb(252, 252, 252);
}

#headingTwo {
    color:rgb(83, 5, 5);
}

#smallText {
    color:rgb(252, 252, 252);
}

#bobaTea {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 70px;
    width: 120px;    
}

#pearls {
    position: absolute;
    top: 25%;
    left: 1%;
    height: 60px;
    width: 110px;   
}

#glunch {
    position: absolute;
    top: 35%;
    left: 10%;
    height: 50px;
    width: 60px;
}

#yap {
    position: absolute;
    top: 36%;
}

#tree {
    position: absolute;
    left: 70%;
    top: 19%;
    height: 490px;
    width: 320px;
}

#critter {
    position: absolute;
    left: 5%;
    top: 50%;
    height: 250px;
    width: 500px;    
}